.ellipsis{
  display: flex;
  flex-direction: column;
  padding: 1%;

}
.ellipsis-icon{
  position: relative;
}
.ellipsis:hover{
  cursor: pointer;
  background-color:cadetblue;
}
.ellipsis-menu{
  
  height: 0px;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  border-radius: 8px;
  border-top-left-radius: 0px;
  font-size: 0.8rem;
  background-color: bisque;
  /* border:1px solid black; */
  width: 10%;
  transition: 0.2s ease;
}
.ellipsis-menu.active{
  height: 120px;
}

.ellipsis-menu div{
  padding: 8%;
}
.ellipsis-menu div:hover{
  background-color: antiquewhite;
  border-radius: 8px;
  cursor: pointer;
}