  /* Employee Table */
  .employee-table {
    margin: 1.5% 0%;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    border-collapse: collapse;
  }
  
  .employee-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3% 2%;
  }
  
  .employee-table-header-del {
    width: 100%;
  }
  
  .btn-delete {
    margin: 10px;
    padding: 1% 2%;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #ff9494;
  }
  
  .btn-delete:hover {
    background-color: #f44848;
  }
  
  .employee-table-rows-section {
    width: 100%;
    height: calc(100vh-240px);
    overflow: scroll;
    overflow-x: hidden;
    position: relative;
  }
  
  .employee-table-rows-section::-webkit-scrollbar {
    width: 3px;
    color: red;
  }
  
  .employee-table-rows-section::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .employee-table-rows-section::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  
  .employee-table-rows {
    padding: 1% 1% 1% 3%;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-left: none;
    border-right: none;
    justify-content: space-between;
  }
  
  .employee-row-heading {
    text-align: left;
    top: 0%;
    left: 0%;
    position: sticky;
    padding: 1.5% 1% 1.5% 3%;
    background-color: #fffcfc;
  }
  
.employee-table-rows-section tr{
   padding: 5%;
}
td{
    padding: 1% 0%;
}
  
  .table-user img {
    margin-right: 1rem;
    border-radius: 50%;
  }
  
  .employee-table-rows-section tr th {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 70%;
  }
  
  .employee-table-rows th input {
    scale: 1.4;
  }
  
  .employee-table-row {
    display: flex;
  }
  
  .table-user {
    display: flex;
  }
  
  .user-profile-name,
  .employee-table-row-data,
  .user-profile-email .active-btn {
    font-weight: 500;
  }
  
  .table-user img{
    width: 36px;
    height: 36px;
  }
  
  .user-profile-email {
    font-size: 0.9rem;
    opacity: 60%;
  }
  
  .active-btn {
    padding: 7.5% 15%;
    border: none;
    border-radius: 5px;
    color: green;
    background-color: #e4f8e8;
  }
  
  .employee-table-rows:hover {
    background-color: #fff4f4;
    cursor: pointer;
  }