/* Filter */

.filter {
  height: 62px;
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.filter-icon {
  margin: 3px 10px;
}

.filter-alphabets {
  width: 100%;
  justify-content: space-between;
}

.filter-alphabets button {
  align-items: center;
  padding: 1% 1%;
  background-color: rgb(234, 235, 238);
  border-radius: 5px;
  opacity: 50%;
  font-weight: 500;
  border: none;
}

.filter-alphabets button:hover {
  cursor: pointer;
  background-color: #f44848;
  opacity: 100%;
  color: white;
}


/* Employee Table */
.employee-table {
  margin: 1.5% 0%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.205);
  border-radius: 10px;
}

.employee-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3% 2%;
}

.employee-table-header-del {
  width: 100%;
}

.btn-delete {
  margin: 10px;
  padding: 1% 2%;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #ff9494;
}

.btn-delete:hover {
  background-color: #f44848;
}

.employee-table-rows-section {
  width: 100%;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}

.employee-table-rows-section::-webkit-scrollbar {
  width: 3px;
  color: red;
}

.employee-table-rows-section::-webkit-scrollbar-track {
  background: transparent;
}

.employee-table-rows-section::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.employee-table-rows {
  display: grid;
  grid-template-columns: 0.4fr 2fr repeat(2, 1.4fr) 1.8fr repeat(3, 1fr) 0.4fr;
  padding: 1% 1% 1% 3%;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-left: none;
  border-right: none;

  justify-content: space-between;
  align-items: center;
}

.employee-row-heading {
  top: 0%;
  left: 0%;
  position: sticky;
  padding: 1.5% 1% 1.5% 3%;
  background-color: #fffcfc;
}

.employee-table-row {
  gap: 1rem;
}

.table-user img {
  margin-right: 1rem;
  border-radius: 50%;
}

.employee-table-row p {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 70%;
}

.checkbox {
  scale: 1.4;
}

.employee-table-row {
  display: flex;
}

.table-user {
  display: flex;
}

.user-profile-name,
.employee-table-row-data,
.user-profile-email .active-btn {
  font-weight: 500;
}

.table-user img{
  width: 36px;
  height: 36px;
}

.user-profile-email {
  font-size: 0.9rem;
  opacity: 60%;
}

.active-btn {
  padding: 7.5% 15%;
  border: none;
  border-radius: 5px;
  color: green;
  background-color: #e4f8e8;
}

.employee-table-rows:hover {
  background-color: #fff4f4;
  cursor: pointer;
}