@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

.main-container {
  display: grid;
  grid-template-columns: 1.2fr 5fr;
}

.flex {
  display: flex;
  align-items: center;
}

button:hover {
  cursor: not-allowed;
}

input[type="checkbox"] {
  accent-color: red;
}

/* side-panel */
.side-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  box-shadow: 10px 0px 25px -35px;
  height: 100vh;
}

.side-panel-collapse-btn {
  position: absolute;
  width: 13%;
  top: 4%;
  right: -6%;
}
.side-panel-collapse-btn:hover {
  cursor: pointer;
}

.side-panel-header,
.side-panel-content {
  margin: 6% 0% 5% 5%;
}

.side-panel-heading {
  margin: 1rem;
  font-size: 0.8rem;
  opacity: 30%;
  font-weight: 500;
}

.side-panel-section {
  display: flex;
  flex-direction: column;
}

.side-panel-title {
  text-align: left;
  opacity: 60%;
  font-weight: 500;
}

.side-panel-header-container {
  position: relative;
  display: grid;
  grid-template-columns: 0.7fr 3fr 0.6fr;
  align-items: center;
  padding: 5% 5%;
  margin: 0% 5%;
  border-radius: 5px;
}

.svg-container {
  position: relative;
}

.svg-container img.svg-image.svg-red {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
}

.active-selector .svg-container img.svg-image.svg-red {
  opacity: 1;
}

.side-panel-header-container:hover {
  cursor: pointer;
  background-color: #fcd8d8;
}

.active-selector {
  background-color: #fcd8d8;
}
.active-selector p{
  color: #f44848;
  opacity: 100%;
}


.pseudo-side-bar {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0%;
  right: -6%;
  content: "\00a0";
  background-color: red;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media only screen and (max-width:1024px) {
    .side-panel-title{
      display: none;
    }
}

/* Update */
.side-panel-update-box {
  margin: 5% 2% 5% 2% !important;
  padding: 7%;
  border-radius: 10px;
  background-color: #fff4f4;
}

.side-panel-update-box * {
  margin: 5% 0%;
}

.side-panel-update-box-heading {
  color: red;
  text-align: left;
  font-weight: 500;
}

.side-panel-update-box-desc {
  opacity: 50%;
}

.update-btn {
  padding: 5% 8%;
  border: none;
  border-radius: 5px;
}

.dismiss {
  color: #f84c4c;
  background-color: #fcd8d8;
}

.accept {
  background-color: #f84c4c;
  color: white;
}

/* MainPanel */
.main-panel {
  margin: 1% 2%;
  height: 99vh;
}

.header-search {
  padding: 1.6% 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.205);
}

.header-search-section {
  width: 100%;
}

.header-search-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-search-icons img:hover {
  cursor: pointer;
}

.header-search-box {
  width: 100%;
  border: none;
  font-size: 1.2rem;
  padding-left: 3%;
}

.header-search-box::placeholder {
  opacity: 40%;
}

.header-search-box:focus {
  outline: none;
}

.header-search-profile {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.header-search-profile-desc,
.header-search-profile i {
  margin-left: 1rem;
}

.header-profile-name {
  width: 6rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.header-profile-admin {
  font-weight: 600;
}

.header-search-profile {
  cursor: pointer;
}

/* Employees Header */
.employees-header {
  margin: 1.5% 0% 1% 0%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2% 0%;
  gap: 1%;
  height: 100px;
}

.employees-header-content {
  margin-right: auto;
}

.employee-header-content-title {
  padding-bottom: 2%;
  font-weight: 500;
  font-size: 1.6rem;
  color: #4c5c72;
  opacity: 90%;
}

.employee-header-content-desc {
  font-size: 1rem;
  opacity: 50%;
  font-weight: 500;
  color: #4c5c72;
}

.employees-header-btn-export {
  display: flex;
  justify-content: center;
  background: white;
  gap: 10%;
  align-items: center;
  border: 1px solid#a7a9ab;
  border-radius: 0.5rem;
  height: 2.3rem;
  width: 7.8rem;
}

.employees-header-btn-export p {
  font-size: 1rem;
  color: #4c5c72;
  font-weight: 500;
  opacity: 70%;
}

.employees-header-btn-add-employee {
  display: flex;
  justify-content: center;
  background-color: #f44848;
  border: none;
  color: white;
  gap: 10%;
  border-radius: 0.5rem;
  align-items: center;
  width: 13.4rem;
  height: 2.6rem;
}

.employees-header-btn-add-employee p {
  color: white;
  opacity: 100%;
  font-size: 1rem;
  font-weight: 500;
}

/* Filter Options */
.filter-options {
  border: 2px solid #ffc4c4;
  margin: 0% 0%;
  background-color: #fff4f4;
  border-radius: 10px;
  justify-content: space-between;
  height: 3.1rem;
  padding: 2.5%;
}
.filter-columns {
  width: 60%;
  gap: 0.8rem;
}

.filter-options-title {
  font-size: 0.9rem;
  opacity: 90%;
  color: #f44848;
  font-weight: 500;
}

.filter-options-btn {
  font-size: 0.9rem;
  opacity: 70%;
  padding: 0.8rem 0.8rem;
  background-color: white;
  border-radius: 10px;
  font-weight: 500;
  color: #4c5c72;
  border: 2px solid #ffc4c4;
  padding: 8px 14px;
  border: 1px solid red;
  border-radius: 5px;
}

.filter-options-reset {
  background-color: white;
  color: red;
}

.filter-options-apply {
  margin-left: 1rem;
  background-color: #f44848;
  color: white;
  opacity: 100%;
  border: 1px solid #f44848;
}
